head{
    padding: -10%;
    margin: -10%;
}
body{
    padding-top: 0%;
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #fffbff;
}
header {
    margin: -8px;
    margin-top: -50px;
    background-color: #552455;
}
main{
    text-align: center;
}
footer{ 
    position: relative;
    top: 100px;
    font-size: 25px;
    line-height: 10px;
    text-align: center;
}
a {
    font-weight: bold;
    text-decoration: none;
}
input {
    padding: 8px;
}
.menu ol {
    list-style-type: none;
    padding-top: 1%;
    padding-bottom: 1%;
}
.menu_element{
    display:inline-flex;
    padding-right: 20px;
}
.login {
    font-size: 13px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.infos {
    font-size: 26px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.socials {
    color: black;
    font-weight: bold;
    text-decoration: none;
}
