body{
    padding-top: 0%;
    font-size: 50px;
    font-family:monospace;
    background-color: #fffbff;
}
header {
    margin: -8px;
    margin-top: -50px;
    background-color: #552455;
}
main{
    text-align: center;
}
footer{ 
    font-size: 25px;
    text-align: center;
}
a {
    font-weight: bold;
    text-decoration: none;
}
input {
    padding: 8px;
    font-weight: bold;
}
.menu ol {
    list-style-type: none;
    padding-top: 1%;
    padding-bottom: 1%;
}
.menu_element{
    display:inline-flex;
    padding-right: 20px;
}
.login {
    position: static;
    margin-left: 40%;
    margin-right: 40%;
    font-size: 15px;
    padding: 20px;
    background-color:#202020;
}
.login input{
    margin: 10px;

}
.infos {
    font-size: 26px;
    font-family:monospace;
}
.hasbulla {
    display: inline-flex;
}
.hasbulla form {
    height: 100px;
}
.hasbulla-pic {
    height: 100px;
}
.foo {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 10px;
    background-color: #202020;
}
.foo ol{
    list-style-type: none;
    margin: 0;
}
.foo_element {
    display:inline-flex;
    padding-right: 20px;
}
.foo p {
    font-size: 12px;
    color: #fffbff;
}
.socials {
    color: #fffbff;
    font-weight: bold;
    font-family:monospace;
    text-decoration: none;
}
