$primary: #EAEAEA;
$secondary: #F30067;
$teritary: #00D1CD;
$alternatif: #333333;

.lightBG { background-color: #EAEAEA; }
.lightBG:hover { background-color: #EAEAEA; }
.darkBG { background-color: #222222; }
.darkBG:hover { background-color: #222222; }
.whiteBG { background-color: #FFFFFF; }
.whiteBG:hover { background-color: #FFFFFF; }
.blackBG { background-color: #000000; }
.blackBG:hover { background-color: #000000; }

.lightColor { color: #EAEAEA; }
.darkColor { color: #222222; }
.whiteColor { color: #FFFFFF; }
.blackColor { color: #000000; }


html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 3%;
    z-index: 10;
}
#logo {
    button {
        width: 3.8rem;
        background-color: transparent;
        border: 0;
        p {
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 3em;
            font-weight: 700;
            margin: 0;

            background: -webkit-linear-gradient(90deg,#9747ff,#ff75f1,#9747ff);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: background 1s linear;

            background-size: 15px 40px;  
            border-radius: 10px; 
            
            animation: glow 2s linear infinite;
            
        }
    }
    button:hover {
        cursor: pointer;
        outline: 0;
    }
}
@keyframes glow {
    0% {
        background-position: 0px 0px; 
    }
    50% {
        background-position: 20px 20px; 
    }
    100% {
        background-position: 40px 40px; 
    }
}

#switch {
    button {
        width: 3rem;
        background-color: transparent;
        border: 0;
        #mode {
            transition: color 0.3s ease-out;
        }
    }
    button:hover {
        cursor: pointer;
        outline: 0;
    }
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 450,
  'GRAD' 0,
  'opsz' 0
}
.md-60 { font-size: 35px !important; }

#glow {
    background: transparent;
    padding: 0;
    position: fixed;
    top: 35%;
    left: 40%;
    border-radius: 8px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.01);
    opacity: 0;
    transition: opacity 1s linear;
    z-index: -1;
    &::after {
        position: fixed;
        content: "";
        top: 35%;
        left: 40%;
        z-index: -1;
        height: 20vw;
        width: 20vw;
        border-radius: 50%;
        transform: scale(0.9) translateZ(0);
        filter: blur(15px);
        background: linear-gradient(
            to left,
            #ff5770,
            #e4428d,
            #c42da8,
            #9e16c3,
            #6501de,
            #9e16c3,
            #c42da8,
            #e4428d,
            #ff5770
        );
        background-size: 200% 200%;
        animation: animateGlow 10s linear infinite;
        animation: animateRotate 6s linear infinite;
    }
}
  
@keyframes animateGlow {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 200% 50%;
    }
}


@keyframes animateRotate {
    0% {
        transform: rotateZ(0deg);
    }
    50% {
        transform: rotateZ(180deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

main {
    width: 80%;
    min-width: 420px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    #intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        height: 99vh;
        min-height: 700px;
        #introContent {
            display: flex;
            width: fit-content;
            margin: 0 auto;
            flex-wrap: wrap;
            #pfp {
                grid-area: img;
                width: 200px;
                height: auto;
                border-radius: 5px;
                margin-right: 3rem;
            }
            #welcome {
                .welcome {
                    font-family: 'Ubuntu', sans-serif;
                    font-size: 5em;
                    font-weight: bold;
                    margin: 0;
                }
                .colored {
                    color: $secondary;
                }
            }
        }
        P {
            font-size: 2em;
            text-align: justify;
            margin: 2rem auto;
            max-width: 1050px;
            width: 95%;
        }
        #scroll {
            position: absolute;
            top: 95%;
            left: 50%;
            font-family: 'Nunito', sans-serif;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 12px;
            transform: translate(-50%, -50%);
            transition: opacity 1s ease-out;
            svg {
                width: 14px;
                display: block;
                margin: 10px auto;
                .arrow {
                    fill: $alternatif;
                    animation: scroll .35s ease-in alternate infinite;
                }
            }
        }
    }
    .title {
        font-size: 4em;
        text-align: center;
        letter-spacing: 4px;
    }
    #tech {
        height: 99vh;
        min-height: 900px;
        color: black;
        #skills {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            h2 {
                font-size: 2.5em;
            }
            li {
                font-size: 1.5em;
                font-weight: bold;
                margin-left: 2em;
                margin-bottom: 1em;
            }
            .sep {
                width: 1px;
                height: 650px;
                background-color: grey;
                margin: 1rem 0;
            }
        }

    }
    #projects {
        height: fit-content;
        color: black;
        .projects {
            display: flex;
            flex-direction: column;
            .project {
                background-color: #222222;
                color: #EAEAEA;
                width: 50%;
                min-width: min-content;
                height: 270px;
                padding: 2rem;
                margin-bottom: 2rem;
                border-radius: 5px;
                display: flex;
                flex-direction: row;
                align-content: center;
                justify-content: center;
                .pInfo {
                    margin-right: 1rem;
                    a:link, a:visited, a:hover {
                        color: #EAEAEA;
                        text-decoration:underline;
                        text-decoration-style: dotted;
                    }
                    a:hover {
                        text-decoration-color: #9747ff;
                    }
                    h2 {
                        font-size: 1.8em;
                        margin-top: 1rem;
                    }
                    .desc {
                        color: #FFFFFF;
                    }
                    .separ {
                        height: 1px;
                        width: 60%;
                        min-width: 300px;
                        background-color: #EAEAEA;
                    }
                    .work {
                        color: #CCCCCC;
                    }
                }
                .pImg {
                    max-height: 260px;
                    max-width: 360px;
                    min-width: 360px;
                    margin-top: 0.5rem;
                    overflow: hidden;
                    border-radius: 3px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                #slider {
                    display: block;
                    overflow: hidden;
                    width: auto;
                    min-height: 260px; 
                    }
                    
                    img {
                    width: 100%;
                    min-height: 260px;
                    }
                    
                    #slider figure {
                      position: relative;
                      width: 500%;
                      margin: 0;
                      left: 0;
                      animation: 15s slider infinite;
                    }
                    
                    #slider figure .image {
                    width: 20%;
                    float: left;
                    }
                    
                    @keyframes slider {
                      0% { left: 0; }
                      15% { left: 0; }
                      20% { left: -100%; }
                      35% { left: -100%; }
                      40% { left: -200%; }
                      55% { left: -200%; }
                      60% { left: -300%; }
                      75% { left: -300%; }
                      80% { left: -400%; }
                      95% { left: -400%; }
                      100% { left: 0; }
                    }
            }
            .left {
                align-self: start;
            }
            .right {
                align-self: end;
            }
        }
    }
}

footer {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    #contacts {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-around;
        width: 400px;
        margin: 4rem 0;
        a {
            text-decoration: none;
            font-size: 35px;
            margin: 0 2rem;
        }
        span {
            width: 40px;
            height: 40px;
            transition: background-color 0.3s ease-out;
            background-color: black;
            img {
                width: 40px;
                height: 40px;
                opacity: 0;
            }
        }
        #fb {
            -webkit-mask: url(https://cdn.jsdelivr.net/npm/simple-icons@3.13.0/icons/facebook.svg) no-repeat center;
            mask: url(https://cdn.jsdelivr.net/npm/simple-icons@3.13.0/icons/facebook.svg) no-repeat center;
            mask-size: 40px;
        }
        #twitter {
            -webkit-mask: url(https://cdn.jsdelivr.net/npm/simple-icons@3.13.0/icons/twitter.svg) no-repeat center;
            mask: url(https://cdn.jsdelivr.net/npm/simple-icons@3.13.0/icons/twitter.svg) no-repeat center; 
            mask-size: 40px;
        }
        #discord {
            -webkit-mask: url(https://cdn.jsdelivr.net/npm/simple-icons@3.13.0/icons/discord.svg) no-repeat center;
            mask: url(https://cdn.jsdelivr.net/npm/simple-icons@3.13.0/icons/discord.svg) no-repeat center; 
            mask-size: 40px;
        }
        #linkedin {
            -webkit-mask: url(https://cdn.jsdelivr.net/npm/simple-icons@3.13.0/icons/linkedin.svg) no-repeat center;
            mask: url(https://cdn.jsdelivr.net/npm/simple-icons@3.13.0/icons/linkedin.svg) no-repeat center; 
            mask-size: 40px;
        }
        #github {
            -webkit-mask: url(https://cdn.jsdelivr.net/npm/simple-icons@3.13.0/icons/github.svg) no-repeat center;
            mask: url(https://cdn.jsdelivr.net/npm/simple-icons@3.13.0/icons/github.svg) no-repeat center; 
            mask-size: 40px;
        }
    }
    #email {
        font-size: 1em;
        transition: background-color 0.3s ease-out;
    }
    a:link, a:visited, a:hover {
        color: black;
        text-decoration:underline;
        text-decoration-style: dotted;
    }
    a:hover {
        text-decoration-color: #9747ff;
    }
}

@keyframes scroll {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(10px);
    }
}

@media (max-width: 874px) {
    #intro {
        min-height: max-content;
        margin: 4rem 0;
    }
    #tech {
        height: max-content !important;
        #skills {
            flex-direction: column !important;
            .sep {
                height: 0px !important;
                width: 0px !important;
            }
        }
    }
    #projects {
        display: block;
        position: relative;
        .project {
            width: 70% !important;
            min-width: min-content !important;
            height: max-content !important;
            flex-direction: column !important;
            .pInfo {
                .separ {
                    width: 100% !important;
                }
            }
            .pImg {
                margin: 0.9rem auto;
            }
        }
        .left, .right {
            align-self: center !important;
        }
    }
}
  





