$primary: #EAEAEA;
$secondary: #F30067;
$teritary: #00D1CD;
$alternatif: #333333;
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Nunito', sans-serif;
    background-color: $primary;
    margin: 0;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 3%;
    z-index: 10;
}
#logo {
    button {
        width: 3.5rem;
        border: 0;
        p {
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 3em;
            font-weight: 700;
            margin: 0;

            background: -webkit-linear-gradient(90deg,#9747ff,#ff75f1,#9747ff);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: background 1s linear;

            background-size: 15px 40px;  
            border-radius: 10px; 
            
            animation: glow 2s linear infinite;
            
        }
    }
    button:hover {
        cursor: pointer;
        background-color: $primary;
        outline: 0;
    }
}
@keyframes glow {
    0% {
        background-position: 0px 0px; 
    }
    50% {
        background-position: 20px 20px; 
    }
    100% {
        background-position: 40px 40px; 
    }
}

#switch {
    button {
        width: 3rem;
        border: 0;
    }
    button:hover {
        cursor: pointer;
        background-color: $primary;
        outline: 0;
    }
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 450,
  'GRAD' 0,
  'opsz' 0
}
.md-60 { font-size: 35px !important; }

main {
    width: 80%;
    min-width: 420px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    #intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        border: 3px red solid;
        height: 99vh;
        min-height: 500px;
        #introContent {
            display: flex;
            width: fit-content;
            margin: 0 auto;
            flex-wrap: wrap;
            #pfp {
                grid-area: img;
                width: 200px;
                height: auto;
                border-radius: 5px;
                margin-right: 3rem;
                cursor: pointer;
            }
            #welcome {
                .welcome {
                    font-family: 'Ubuntu', sans-serif;
                    font-size: 5em;
                    font-weight: bold;
                    margin: 0;
                }
                .colored {
                    color: $secondary;
                }
            }
        }
        P {
            color: $alternatif;
            font-size: 2em;
            text-align: justify;
            margin: 2rem auto;
            max-width: 1050px;
            width: 95%;
        }
        #scroll {
            color: $alternatif;
            position: absolute;
            top: 95%;
            left: 50%;
            font-family: 'Nunito', sans-serif;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 12px;
            transform: translate(-50%, -50%);
            transition: opacity 1s ease-out;
            svg {
                width: 14px;
                display: block;
                margin: 10px auto;
                .arrow {
                    fill: $alternatif;
                    animation: scroll .35s ease-in alternate infinite;
                }
            }
        }
    }
}






@keyframes scroll {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(10px);
    }
}
  





