.lightBG {
  background-color: #EAEAEA;
}

.lightBG:hover {
  background-color: #EAEAEA;
}

.darkBG {
  background-color: #222222;
}

.darkBG:hover {
  background-color: #222222;
}

.whiteBG {
  background-color: #FFFFFF;
}

.whiteBG:hover {
  background-color: #FFFFFF;
}

.blackBG {
  background-color: #000000;
}

.blackBG:hover {
  background-color: #000000;
}

.lightColor {
  color: #EAEAEA;
}

.darkColor {
  color: #222222;
}

.whiteColor {
  color: #FFFFFF;
}

.blackColor {
  color: #000000;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 3%;
  z-index: 10;
}

#logo button {
  width: 3.8rem;
  background-color: transparent;
  border: 0;
}
#logo button p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3em;
  font-weight: 700;
  margin: 0;
  background: -webkit-linear-gradient(90deg, #9747ff, #ff75f1, #9747ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background 1s linear;
  background-size: 15px 40px;
  border-radius: 10px;
  -webkit-animation: glow 2s linear infinite;
          animation: glow 2s linear infinite;
}
#logo button:hover {
  cursor: pointer;
  outline: 0;
}

@-webkit-keyframes glow {
  0% {
    background-position: 0px 0px;
  }
  50% {
    background-position: 20px 20px;
  }
  100% {
    background-position: 40px 40px;
  }
}

@keyframes glow {
  0% {
    background-position: 0px 0px;
  }
  50% {
    background-position: 20px 20px;
  }
  100% {
    background-position: 40px 40px;
  }
}
#switch button {
  width: 3rem;
  background-color: transparent;
  border: 0;
}
#switch button #mode {
  transition: color 0.3s ease-out;
}
#switch button:hover {
  cursor: pointer;
  outline: 0;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 450, "GRAD" 0, "opsz" 0;
}

.md-60 {
  font-size: 35px !important;
}

main {
  width: 80%;
  min-width: 420px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
main #intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 99vh;
  min-height: 600px;
}
main #intro #introContent {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  flex-wrap: wrap;
}
main #intro #introContent #pfp {
  grid-area: img;
  width: 200px;
  height: auto;
  border-radius: 5px;
  margin-right: 3rem;
  cursor: pointer;
}
main #intro #introContent #welcome .welcome {
  font-family: "Ubuntu", sans-serif;
  font-size: 5em;
  font-weight: bold;
  margin: 0;
}
main #intro #introContent #welcome .colored {
  color: #F30067;
}
main #intro P {
  font-size: 2em;
  text-align: justify;
  margin: 2rem auto;
  max-width: 1050px;
  width: 95%;
}
main #intro #scroll {
  position: absolute;
  top: 95%;
  left: 50%;
  font-family: "Nunito", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  transform: translate(-50%, -50%);
  transition: opacity 1s ease-out;
}
main #intro #scroll svg {
  width: 14px;
  display: block;
  margin: 10px auto;
}
main #intro #scroll svg .arrow {
  fill: #333333;
  -webkit-animation: scroll 0.35s ease-in alternate infinite;
          animation: scroll 0.35s ease-in alternate infinite;
}
main .title {
  font-size: 4em;
  text-align: center;
  letter-spacing: 4px;
}
main #tech {
  height: 99vh;
  min-height: 900px;
  color: black;
}
main #tech #skills {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
main #tech #skills h2 {
  font-size: 2.5em;
}
main #tech #skills li {
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 2em;
  margin-bottom: 1em;
}
main #tech #skills .sep {
  width: 1px;
  height: 650px;
  background-color: grey;
  margin: 1rem 0;
}
main #projects {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: black;
}
main #projects .projects {
  display: flex;
  flex-direction: column;
}
main #projects .projects .project {
  background-color: #222222;
  color: #EAEAEA;
  width: 50%;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  height: 270px;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
main #projects .projects .project .pInfo {
  margin-right: 1rem;
}
main #projects .projects .project .pInfo h2 {
  font-size: 1.8em;
  margin-top: 1rem;
}
main #projects .projects .project .pInfo .desc {
  color: #FFFFFF;
}
main #projects .projects .project .pInfo .separ {
  height: 1px;
  width: 60%;
  min-width: 300px;
  background-color: #EAEAEA;
}
main #projects .projects .project .pInfo .work {
  color: #CCCCCC;
}
main #projects .projects .project .pImg {
  min-width: 320px;
  max-width: 320px;
  max-height: 240px;
  margin-top: 0.9rem;
}
main #projects .projects .project .pImg img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}
main #projects .projects .left {
  align-self: start;
}
main #projects .projects .right {
  align-self: end;
}

footer {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer #contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  width: 400px;
  margin: 4rem 0;
}
footer #contacts a {
  text-decoration: none;
  font-size: 35px;
  margin: 0 2rem;
}
footer #contacts span {
  width: 40px;
  height: 40px;
  transition: background-color 0.3s ease-out;
  background-color: black;
}
footer #contacts span img {
  width: 40px;
  height: 40px;
}
footer #contacts #fb {
  -webkit-mask: url(https://cdn.jsdelivr.net/npm/simple-icons@3.13.0/icons/facebook.svg) no-repeat center;
  mask: url(https://cdn.jsdelivr.net/npm/simple-icons@3.13.0/icons/facebook.svg) no-repeat center;
  -webkit-mask-size: 40px;
          mask-size: 40px;
}
footer #contacts #twitter {
  -webkit-mask: url(https://cdn.jsdelivr.net/npm/simple-icons@3.13.0/icons/twitter.svg) no-repeat center;
  mask: url(https://cdn.jsdelivr.net/npm/simple-icons@3.13.0/icons/twitter.svg) no-repeat center;
  -webkit-mask-size: 40px;
          mask-size: 40px;
}
footer #contacts #discord {
  -webkit-mask: url(https://cdn.jsdelivr.net/npm/simple-icons@3.13.0/icons/discord.svg) no-repeat center;
  mask: url(https://cdn.jsdelivr.net/npm/simple-icons@3.13.0/icons/discord.svg) no-repeat center;
  -webkit-mask-size: 40px;
          mask-size: 40px;
}
footer #contacts #linkedin {
  -webkit-mask: url(https://cdn.jsdelivr.net/npm/simple-icons@3.13.0/icons/linkedin.svg) no-repeat center;
  mask: url(https://cdn.jsdelivr.net/npm/simple-icons@3.13.0/icons/linkedin.svg) no-repeat center;
  -webkit-mask-size: 40px;
          mask-size: 40px;
}
footer #contacts #github {
  -webkit-mask: url(https://cdn.jsdelivr.net/npm/simple-icons@3.13.0/icons/github.svg) no-repeat center;
  mask: url(https://cdn.jsdelivr.net/npm/simple-icons@3.13.0/icons/github.svg) no-repeat center;
  -webkit-mask-size: 40px;
          mask-size: 40px;
}
footer #email {
  font-size: 1em;
  transition: background-color 0.3s ease-out;
}
footer a:link, footer a:visited, footer a:hover {
  color: black;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}
footer a:hover {
  -webkit-text-decoration-color: #9747ff;
          text-decoration-color: #9747ff;
}

@-webkit-keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}
@media (max-width: 874px) {
  #intro {
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
    margin: 4rem 0;
  }
  #tech {
    height: -webkit-max-content !important;
    height: -moz-max-content !important;
    height: max-content !important;
  }
  #tech #skills {
    flex-direction: column !important;
  }
  #tech #skills .sep {
    height: 0px !important;
    width: 0px !important;
  }
  #projects {
    display: block;
    position: relative;
  }
  #projects .project {
    width: 70% !important;
    min-width: -webkit-min-content !important;
    min-width: -moz-min-content !important;
    min-width: min-content !important;
    height: -webkit-max-content !important;
    height: -moz-max-content !important;
    height: max-content !important;
    flex-direction: column !important;
  }
  #projects .project .pInfo .separ {
    width: 100% !important;
  }
  #projects .project .pImg {
    margin: 0.9rem auto;
  }
  #projects .left, #projects .right {
    align-self: center !important;
  }
}/*# sourceMappingURL=style.css.map */