@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .disable-blur{
      image-rendering: -webkit-optimize-contrast;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.nav {
  position: relative;
  color: #fff;
  text-decoration: none;
}

.nav:hover {
  color: #fff;
}

.nav::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: rgb(59 130 246);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav:hover::before {
  transform: scaleX(1);
}

.active > p{
  z-index: 1000;
  position: relative;
}

.active::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: rgb(59 130 246);
  transform: scaleX(1);
  transition: transform 0.3s ease;
  z-index: 900;
}

.mobileActive {
  color: rgb(59 130 246);
}




